@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");

a:hover {
  color: inherit;
  text-decoration: none;
}

body {
  color: #707070;
  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  background-color: #ededed;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
}

p {
  margin: 2.5rem 0;
}

footer {
  padding-bottom: 0;
}

footer .container {
  padding: 0;
}

footer .col-12 {
  background-color: #484848;
  color: #ffffff;
  padding: 2.5rem 0;
  text-align: center;
}

[class^="icon-"] {
  border-radius: 50%;
  display: block;
  height: 4rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 4rem;
}

.additional-projects div {
  font-size: 1.7rem;
  padding: 1.5rem 0;
}

.additional-projects .col-12 {
  background-color: #ffffff;
  border: 1px solid #ededed;
  margin: 0;
  padding: 1.5rem;
}

.additional-projects .col-12:hover {
  -webkit-box-shadow: 0 0 0.6rem 0.2rem #04040463;
          box-shadow: 0 0 0.6rem 0.2rem #04040463;
  z-index: 2;
}

.additional-projects .col-12:hover a {
  color: #ffffff;
}

.additional-projects > .row > div:nth-of-type(1):hover,
.additional-projects > .row > div:nth-of-type(4):hover {
  background-color: #4e77ff;
}

.additional-projects > .row > div:nth-of-type(2):hover,
.additional-projects > .row > div:nth-of-type(5):hover {
  background-color: #ff4242;
}

.additional-projects > .row > div:nth-of-type(3):hover,
.additional-projects > .row > div:nth-of-type(6):hover {
  background-color: #21e135;
}

.extra-section {
  margin: 2.5rem 0;
}

.extra-section a:hover {
  color: #a3a3a3;
}

.extra-section p {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 4rem 0 4rem 1.5rem;
}

.extra-section .col-md-12 {
  border-bottom: 0.25rem solid #707070;
  border-top: 0.25rem solid #707070;
}

.icon-github {
  background-image: url("../images/logos/GitHub-Logo.png");
  background-size: 100%;
}

.icon-github:hover {
  background-image: url("../images/logos/GitHub-Logo-Alt.png");
}

.icon-instagram {
  background-image: url("../images/logos/Instagram-Logo.png");
  background-size: 100%;
}

.icon-instagram:hover {
  background-image: url("../images/logos/Instagram-Logo-Alt.png");
  border-radius: 25%;
}

.icon-medium {
  background-image: url("../images/logos/Medium-Logo.png");
  background-size: 100%;
}

.icon-medium:hover {
  background-image: url("../images/logos/Medium-Logo-Alt.png");
  border-radius: 25%;
}

.icon-linkedin {
  background-image: url("../images/logos/LinkedIn-Logo.png");
  background-size: 100%;
  border-radius: 25%;
}

.icon-linkedin:hover {
  background-image: url("../images/logos/LinkedIn-Logo-Alt.png");
}

.icon-twitter {
  background-image: url("../images/logos/Twitter-Logo.png");
  background-size: 100%;
}

.icon-twitter:hover {
  background-image: url("../images/logos/Twitter-Logo-Alt.png");
}

.introduction-extra {
  font-size: 2.5rem;
  padding: 2rem 0;
}

.introduction-extra span:nth-of-type(1) a {
  /* @Microverse Text */
  color: #5f4eff;
}

.introduction-extra span:nth-of-type(2) a {
  /* @PozolCode Text */
  color: #724400;
}

.introduction-social {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  margin: 3.5rem 0 0 0;
  width: 100%;
}

.introduction-title {
  font-size: 3.8rem;
  font-weight: 600;
  padding: 2.5rem 0;
}

.introduction-title span {
  color: #678aff;
}

.main-container .row {
  padding: 0;
}

.project-container {
  background-color: #ffffff;
  border: 1px solid #ededed;
  font-weight: 600;
}

.project-container > a > div {
  font-size: 2rem;
  padding: 2rem 0 2rem 1.5rem;
}

.project-container > a > img {
  height: 25rem;
  object-fit: scale-down;
}

.project-container:hover {
  -webkit-box-shadow: 0 0 0.6rem 0.2rem #04040463;
          box-shadow: 0 0 0.6rem 0.2rem #04040463;
}

.project-container:hover > a > div {
  color: #ffffff;
}

.project-container.feature-blue:hover {
  background-color: #4e77ff;
}

.project-container.feature-green:hover {
  background-color: #21e135;
}

.project-container.feature-red:hover {
  background-color: #ff4242;
}

.project-container.feature-yellow:hover {
  background-color: #ffE014;
}

.sticky-container {
  background-color: #ffffff;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 2.8rem;
}
