@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

body {
  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}

p { margin: 2.5rem 0; }

[class^="icon-"] {
  border-radius: 50%;
  display: block;
  height: 4rem;
  transition: all 500ms ease;
  width: 4rem;
}

.icon-github {
  background-image: url("../images/logos/GitHub-Logo.png");
  background-size: 100%;
  &:hover { background-image: url("../images/logos/GitHub-Logo-Alt.png"); }
}

.icon-instagram {
  background-image: url("../images/logos/Instagram-Logo.png");
  background-size: 100%;
  &:hover {
    background-image: url("../images/logos/Instagram-Logo-Alt.png");
    border-radius: 25%;
  }
}

.icon-medium {
  background-image: url("../images/logos/Medium-Logo.png");
  background-size: 100%;
  &:hover {
    background-image: url("../images/logos/Medium-Logo-Alt.png");
    border-radius: 25%;
  }
}

.icon-linkedin {
  background-image: url("../images/logos/LinkedIn-Logo.png");
  background-size: 100%;
  border-radius: 25%;
  &:hover { background-image: url("../images/logos/LinkedIn-Logo-Alt.png"); }
}

.icon-twitter {
  background-image: url("../images/logos/Twitter-Logo.png");
  background-size: 100%;
  &:hover { background-image: url("../images/logos/Twitter-Logo-Alt.png") }
}

.introduction-extra {
  font-size: 2.5rem;
  span:nth-of-type(1) {
    /* @Microverse Text */
    color: #5f4eff;
  }
  span:nth-of-type(2) {
    /* @PozolCode Text */
    color: #724400;
  }
}

.introduction-social {
  justify-content: space-around;
  list-style: none;
  margin: 3.5rem 0 0 0;
  width: 100%;
}

.introduction-title {
  font-size: 3.8rem;
  font-weight: 600;
  span { color: #678aff; }
}

.sticky-container { position: sticky; }

@media screen and (max-width: 762px) {
  /* When sticky container display normally
  it's size is actually less than the collapsed
  version */
  .sticky-container { position: relative; }
}